
[submodule "lib/purescript-mode"]
	path = lib/purescript-mode
	url = https://github.com/dysinger/purescript-mode
[submodule "lib/purscheck"]
	path = lib/purscheck
	url = https://github.com/spion/purscheck
[submodule "lib/hlint-refactor-mode"]
	path = lib/hlint-refactor-mode
	url = https://github.com/mpickering/hlint-refactor-mode
