[submodule "lib/solarized-emacs"]
	path = lib/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = https://github.com/milkypostman/powerline
